
@{
    ViewBag.Title = "AddTaskDetails";
}

<h2>Add Task Details</h2>

<form action="/Home/AddNewTask" method="post">
    Username:    <input type="text" name="UserName"required/>
    Description:<input type="text" name="Description" required /><br />
    Due Date:    <input type="date" name="DueDate" required  /><br />
    Status:      <select name="Status">
                 <option value="Incomplete">Incomplete</option>
                 <option value="Complete">Complete</option>
                 </select><br />
   
                 <input type="submit"  value="Add Task" />
</form>

    